<footer class="footer items-center mt-4 p-4 bg-neutral text-neutral-content">
	<aside class="items-center grid-flow-col">
		<img src="/favicon.svg" />
	</aside>
	<p>
		©2024 Muncher. All Rights Reserved | Part of the Northeastern
		Information Project
	</p>
</footer>
