---
import type { Item } from "../lib/types";
import { Image } from "astro:assets";

import bento from "../img/icons8-bento-48.png";
import chips from "../img/icons8-fish-and-chips-48.png";
import salad from "../img/icons8-greek-salad-48.png";

const icons = [bento, chips, salad];

interface Props {
	title: string;
	items: Item[];
	showFilters: boolean;
}

const { title, items, showFilters } = Astro.props;
---

<table class="table w-full text-sm">
	{title && <caption class="pb-2 text-lg font-semibold">{title}</caption>}
	<tbody>
		{
			items.map((item) => {
				return (
					<tr>
						<td class="flex justify-start gap-2">
							<Image
								class="w-10 h-10 rounded select-none"
								src={
									icons[
										Math.floor(Math.random() * icons.length)
									]
								}
								alt="Food Icons"
							/>
							<div class="flex flex-col justify-center">
								<p class="font-medium">{item.name}</p>

								{item.desc && (
									<p class="font-light text-base-content text-xs">
										{item.desc}
									</p>
								)}

								{showFilters && (
									<div class="flex pt-2 gap-2">
										{item.filters.map((filt) => {
											if (
												filt.name == "Vegetarian" ||
												filt.name == "Vegan"
											) {
												return (
													<span class="select-all badge">
														{filt.name}
													</span>
												);
											}
										})}
									</div>
								)}
							</div>
						</td>
					</tr>
				);
			})
		}
	</tbody>
</table>
